@model App.ViewModels.DungeonsListViewModel

@{
    ViewData["Title"] = "Donjons quotidiens";
}

<div class="text-center">
    <h1 class="display-4">Les donjons journaliers</h1>

    <div class="dungeon-list">
            @foreach (var item in Model.DungeonList) {
            <div class="dungeon-list__dungeon-card">
                <div class="dungeon-list__dungeon-card__asset">
                    <img src=@item.BgPic>
                </div>
                <div class="dungeon-list__dungeon-card__about">
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p>Difficulté : @Html.DisplayFor(modelItem => item.Difficulty)</p>
                    <a href="#" class="button">Rentrer</a>
                </div>
            </div>
        }
    </div>
</div>