@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ynov Gatcha</h1>
    <div class="form">
        <form action="POST">
            
        </form>
    </div>
</div>
