@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <div class="form">
        <h1 class="display-4">Ynov Gatcha</h1>
        @if(User.Identity.IsAuthenticated){
            <p>Bienvenue dans notre Gatcha, cliquez ici pour jouer.</p>
            <div class="form__buttons">
                <a href="/dungeons" class="button play">Jouer</a>
            </div>
        } else {
            <p>Connectez-vous pour commencer à jouer, ou enregistrez vous grâce à notre formulaire si vous ne possedez pas encore de compte.</p>
            <div class="form__buttons">
                <a href="/login" class="button primary">Se connecter</a>
                <a href="/register"  class="button cta">S'enregistrer</a>
            </div>
        }
    </div>
</div>
