@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <div class="form">
        <h1 class="display-4">Ynov Gatcha</h1>
        <p>Connectez-vous pour commencer à jouer, ou enregistrez vous grâce à notre formulaire si vous ne possedez pas encore de compte.</p>
        <div class="form__buttons">
            <a href="" class="button primary">Se connecter</a>
            <a href="" class="button cta">S'enregistrer</a>
        </div>
    </div>
</div>
