@model App.ViewModels.ItemListViewModel

@{
    ViewData["Title"] = "L'équipement";
}

<div class="text-center">
    <h1 class="display-4">L'équipement</h1>

    <div class="hero-list">
            @foreach (var item in Model.ItemList) {
            <div class="hero-list__hero-card">
                <div class="hero-list__hero-card__hero-asset">
                    <img src=@item.AssetLink>
                </div>
                <div class="hero-list__hero-card__hero-name">
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                </div>
                <div class="hero-list__hero-card__hero-role">
                    <p>@Html.DisplayFor(modelItem => item.Type)</p>
                </div>
                <div class="hero-list__hero-card__hero-stats">
                    <div class="hero-list__hero-card__hero-stats">
                        <p><img src="assets/icons/sword.png"> @Html.DisplayFor(modelItem => item.Damage)</p>
                    </div>
                    <div class="hero-list__hero-card__hero-stats">
                        <p><img src="assets/icons/magic-resist.png"> @Html.DisplayFor(modelItem => item.Effect)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>