@model App.Models.Player
@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h4>Login</h4>
    <div class="text-center">
        <div class="col-md-4 text-center">
            <div class="form-group">
                <label asp-for"Name" class="control-label"></label>
                <input asp-for"Name" class="form-control">
                <span asp-validation-for"Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for"Password" class="control-label"></label>
                <input asp-for"Password" class="form-control" type="password">
                <span asp-validation-for"Password" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary">
            </div>

        </div>
    </div>
</div>
