<form action="POST">
  <div class="edit-mail__form">
    <h1>Changer l'email</h1>
    <div class="edit-mail__form__input">
      <p>Nouveau email</p>
      <input type="email" name="email" required>
    </div>
    <div class="edit-mail__form__input">
      <p>Confirmer le nouveau email</p>
      <input type="email" name="confirmEmail" required>
    </div>
  </div>
  <div class="edit-mail__form__submit">
    <button type="submit">Confirmer</button>
  </div>
</form>