<form action="POST">
  <div class="edit-password__form">
    <h1>Changer le mot de passe</h1>
    <div class="edit-password__form__input">
      <p>Nouveau mot de passe</p>
      <input type="password" name="password">
    </div>
    <div class="edit-password__form__input">
      <p>Confirmer le nouveau mot de passe</p>
      <input type="password" name="confirmPassword">
    </div>
  </div>
  <div class="edit-password__form__submit">
    <button type="submit">Confirmer</button>
  </div>
</form>