h1 {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}

.form {
  width: 300px;
  padding: 2em;
  margin: 100px auto;
  background: white;
  border-radius: 7px;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
}

.form input {
  width: 100%;
}

.form-group {
  margin-block: 1em;
}

.submit {
  margin-top: 2em;
}

.form a.button {
  display: block;
  text-decoration: none;
  padding: 0.8em 2em;
  border-radius: 7px;
  font-size: 0.9em;

  cursor: pointer;
}

.form a.button.cta {
  background: #f57c00;
  color: white;
}

.form a.button.primary {
  background: #212121;
  color: white;
}

p.description {
  font-size: 0.7em;
  color: #818181;
  margin: 20px 0 0 0;
}
